In [1]:
import numpy as np
import pandas as pd

### CARTO | Coordinates | Neighborhoods

This workbook is a tutorial on how to extract a New York City Neighborhood from latittude / longitude coordinates. 

We'll be using Python, CARTO, SQL, and JSON.

Unfortunately, I've lost the work from the original dataset where I got the coordinates from so this is a general tutorial on how to go from Lat/Long to neighborhood/Borough.

Let's import the some stuff

In [2]:
df = pd.read_csv('get_neighborhood.csv')

In [4]:
df.head()

,cartodb_id,the_geom,field_1,longitude,latitude,neighborhood
0,1,0101000020E6100000B81E85EB517C52C0FA7E6ABC745B...,0,-73.9425,40.7145,Williamsburg
1,2,0101000020E6100000C442AD69DE7D52C0CB10C7BAB865...,1,-73.9667,40.7947,Upper West Side
2,3,0101000020E61000008048BF7D1D8052C0742497FF905E...,2,-74.0018,40.7388,West Village
3,4,0101000020E6100000B515FBCBEE7D52C02A3A92CB7F60...,3,-73.9677,40.7539,Midtown
4,5,0101000020E6100000F085C954C17C52C01A51DA1B7C69...,4,-73.9493,40.8241,Harlem

### okay, lets delete some stuff
This is the output we will get, so I'm going to drop some columns so we are just left with the longitude and latitude.

In [6]:
df.drop(['cartodb_id', 'the_geom', 'field_1'],axis=1, inplace=True)

In [8]:
#oops, forgot to drop the neighborhood
df.drop('neighborhood', axis=1, inplace=True)

In [9]:
df.head()

   longitude  latitude
0   -73.9425   40.7145
1   -73.9667   40.7947
2   -74.0018   40.7388
3   -73.9677   40.7539
4   -73.9493   40.8241

In [10]:
df.shape

(49352, 2)

So what we have now is dataframe with just the coordinates. You'll want to export this to a CSV (I already did) and upload it to CARTO. It's important to keep the index as CARTO _might_ rearrange things. better safe than sorry. But lets back up the CARTO.


# CARTO
This works on the free tier, just sign up and make a map. There are databases of JSON files with neighborhoods already built so pick one where the coordinates are in question. If there isn't. You can build one using a JSON dictionary and build a polygon where the corners are lat/long coordinates (make sure it's in continous order like if you were to draw the polygon without lifting the pen)

#### We will be using the NYC Pedacities JSON file FYI

1. So upload the JSON file(s) and the CSV of the coordinates as data.

2. Create a new map (or use an existing map) and add those two datasets as layers!

3. Now add an empty layer


The empty layer is where we are just going to put a SQL Querry. We are working with datasets so if you can just do a join. 

```
SELECT s.*,n.neighborhood
FROM testset_coordinates as s
left join pediacitiesnycneighborhoods as n  on ST_Within(s.the_geom,n.the_geom)
order by s.field_1 
```

I uploaded my df as testset_coordinates and the pedacities as neighborhood.

on your empty dataset, click _data_. now on the bottom, change the slider to SQL and put that code in there

hit apply (bottom right), then export to CSV (top right). (it will be whatever you named your empty layer)